*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Comic Sans MS', sans-serif;
}

body{
    background-color:#000;
    color:#fff;
}

header{
    /* box-shadow: 0 0 10px white; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:20px;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.navbar{
    margin-left: 480px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar ul li a{
    color: #fff;
    transition: .4s;
}

.navbar ul li a:hover{
    color: blue;
    text-decoration: underline;
}

.btn{
    border: none;
    outline: none;
    background-color:yellowgreen;
    color: #000;
    font-size:18px;
    font-weight: bold;
    border-radius:6px;
    padding:5px;
    cursor: pointer;
    box-shadow: 0 0 10px blue;
    transition: .4s;
}

.btn:hover{
    scale: 1.1;
    box-shadow: 0 25px 15px blue;
}

/* hero style */

.hero{
    width: 100%;
    height:72vh;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
}

.hero-content{
    padding-left:120px;
    /* padding-top: 50px; */
}

.hero-content p{
    color:whitesmoke;
    font-size: 15px;
    font-weight: bold;
    width:90%;
}

.hero-content h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.hero-content h2{
    font-size: 40px;
    font-weight: bold;
    color:yellowgreen;
}

.social-me{
    margin-top:30px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.bttt{
    border: 1.3px solid white;
    outline: none;
    background-color:transparent;
    font-size: 19px;
    font-weight: bold;
    box-shadow:0 0 10px white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}

.bttt:hover{
    background-color:green;
    color:#000;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-media li{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1.3px solid white;
    outline: none;
    box-shadow:0 0 10px white;
    background-color:transparent;
    font-size: 17ppx;
    transition: .4s;
    cursor: pointer;
    border-radius: 50%;
}

.social-media li a{
    color: #fff;
    font-size: 19px;
}

.social-media li:hover{
    scale: 1.1;
    box-shadow: 0 22px 30px yellowgreen;
}


.image{
    width: 330px;
    height: 330px;
    background-color:transparent;
    border:2px  solid  white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     margin-right:50px;
}

.image img{
    width:330px;
    height: 328px;
    border-radius: 50%;
    box-shadow: 0 22px 30px white;
}